
body{
    background-color: #f4f4f4;
}
h1{
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 40px; 
    margin-bottom: 40px; 
}
h2{
    color: black;
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
   
    
}

p{
    text-align: center;
    font-family: Arial, sans-serif;
}


.container{
    width: 100%; 
    font-family: Arial, sans-serif;
    text-align: left; 
    margin-left: 50px;   
}

.dltBtn{
    margin: 10px; 
}

li{
    list-style-type: square;
    
}

.signUp{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}

.createDivUser{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}

#outtext{
    color: red;
    font-weight: bold;
    font-size: large;
}

